---
---

// # Only the main Sass file needs front matter (the dashes are enough)

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'mint' }}"; // skin
// minimal_mistakes_skin: "dark" # "air", "aqua", "contrast", "dark", "default", "dirt", "neon", "mint", "plum" "sunrise"
@import "minimal-mistakes"; // main partials
// @import "minimal-mistakes/helpers/image";

// Custom CSS for mint theme
.pagination--pager:hover {
  background-color: #67b8ac;
}

.page__meta a.page__taxonomy-item:hover {
  color: #fff;
  background-color: #67b8ac;
}
